.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;

}

.heading1 {
  font-family: 'Sigmar One', cursive;
  font-size: 40px;
  color: #ccf2f4;
  text-decoration: underline;
  text-shadow: 10px 0 0 #FF0000;
  letter-spacing: 5px;
  margin: 110px 0 60px 0;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.text-input{
  padding-top: 50px;
}

#cityInput {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 25px;
  padding: 10px 0;
  border: 0;
  width: 100%;
  font-size: 20px;
  color: grey;
  font-weight: bold;
  text-transform:capitalize;
  text-align: center;

}

.city {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 10px;
  font-size: 30px;
}

.btn-check {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 160px;
  margin-right: 150px;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 20px;
  padding: 10px 5px;
  background-color: #04AA6D;
  width: 30%;

}
.btn-check:hover {
  background-color: #3e8e41;
}
.btn-check:active {
  background-color: #3e8341;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.my-video {
position: fixed;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
}

.weatherData{
  margin-top: 20px;
  display: flex;
  position: relative;
}

p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  color: pink;
}
footer {
  text-align: center;
  font-style: italic;
  margin: 200px 100px;
}
